.movie-header {
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.movie-h2 {
    color: #222;
    font-size: 25px;
    padding: 10px;
}

.movie-filter {
    list-style: none;
    font-size: 15px;
    display: flex;
    margin: 10px;
    align-items: center;
}

.movie-filter-item {
    padding: 20px;
    cursor: pointer;
    color: #222;
    margin: 10px;
}

.movie-filter-item.active {
    border-bottom: 2px solid white;
    color: white
}

.movie-sorting {
    border: none;
    outline: none;
    font-size: 13px;
    color: white;
    font-family: inherit;
    background-color: #222;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
}

.movie-gallery {
    display: flex;
    flex-wrap: wrap;
    justify: space-evenly;
}

.sort-text {
    padding: 10px;
}

.movie-list-add {
    border-bottom: 2px solid #222;
}

.movie-list-add>button {
    background: none;
    border-radius: 5px;
    padding: 1%;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}