.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  background-color: #222;
  color: white;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 220%;
}

.nav-links a:hover {
  opacity: 0.7;
}