.app-container {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

.main-content {
  flex: auto;
  padding: 2rem;
  margin: 0;
}

.main-content h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.main-content p {
  line-height: 1.3;
}


/* Responsive layout */

@media (max-width: 1080px) {
  .header {
    flex-direction: column;
    text-align: left;
  }

  .nav-links {
    margin-top: 1rem;
  }
}